@font-face { 
font-family: 'AAmirage'; 
src: url('AA.ttf') format('truetype');
} 
@font-face { 
font-family: 'BBmirage'; 
src: url('BB.ttf') format('truetype');
} 
@font-face { 
font-family: 'CCmirage'; 
src: url('CC.ttf') format('truetype');
} 
@font-face { 
font-family: 'DDmirage'; 
src: url('DD.ttf') format('truetype');
} 
@font-face { 
font-family: 'EEmirage'; 
src: url('EE.ttf') format('truetype');
} 
@font-face { 
font-family: 'FFmirage'; 
src: url('FF.ttf') format('truetype');
} 
@font-face { 
font-family: 'GGmirage'; 
src: url('GG.ttf') format('truetype');
} 
@font-face { 
font-family: 'HHmirage'; 
src: url('HH.ttf') format('truetype');
} 
@font-face { 
font-family: 'IImirage'; 
src: url('II.ttf') format('truetype');
} 
@font-face { 
font-family: 'JJmirage'; 
src: url('JJ.ttf') format('truetype');
} 
@font-face { 
font-family: 'KKmirage'; 
src: url('KK.ttf') format('truetype');
} 
@font-face { 
font-family: 'LLmirage'; 
src: url('LL.ttf') format('truetype');
} 
@font-face { 
font-family: 'MMmirage'; 
src: url('MM.ttf') format('truetype');
} 
@font-face { 
font-family: 'NNmirage'; 
src: url('NN.ttf') format('truetype');
} 
@font-face { 
font-family: 'OOmirage'; 
src: url('OO.ttf') format('truetype');
} 
@font-face { 
font-family: 'PPmirage'; 
src: url('PP.ttf') format('truetype');
} 
@font-face { 
font-family: 'QQmirage'; 
src: url('QQ.ttf') format('truetype');
} 
@font-face { 
font-family: 'RRmirage'; 
src: url('RR.ttf') format('truetype');
} 
@font-face { 
font-family: 'SSmirage'; 
src: url('SS.ttf') format('truetype');
} 
@font-face { 
font-family: 'TTmirage'; 
src: url('TT.ttf') format('truetype');
} 
@font-face { 
font-family: 'UUmirage'; 
src: url('UU.ttf') format('truetype');
} 
@font-face { 
font-family: 'VVmirage'; 
src: url('VV.ttf') format('truetype');
} 
@font-face { 
font-family: 'WWmirage'; 
src: url('WW.ttf') format('truetype');
} 
@font-face { 
font-family: 'XXmirage'; 
src: url('XX.ttf') format('truetype');
} 
@font-face { 
font-family: 'YYmirage'; 
src: url('YY.ttf') format('truetype');
} 
@font-face { 
font-family: 'ZZmirage'; 
src: url('ZZ.ttf') format('truetype');
} 
@font-face { 
font-family: 'amirage'; 
src: url('a.ttf') format('truetype');
} 
@font-face { 
font-family: 'bmirage'; 
src: url('b.ttf') format('truetype');
} 
@font-face { 
font-family: 'cmirage'; 
src: url('c.ttf') format('truetype');
} 
@font-face { 
font-family: 'dmirage'; 
src: url('d.ttf') format('truetype');
} 
@font-face { 
font-family: 'emirage'; 
src: url('e.ttf') format('truetype');
} 
@font-face { 
font-family: 'fmirage'; 
src: url('f.ttf') format('truetype');
} 
@font-face { 
font-family: 'gmirage'; 
src: url('g.ttf') format('truetype');
} 
@font-face { 
font-family: 'hmirage'; 
src: url('h.ttf') format('truetype');
} 
@font-face { 
font-family: 'imirage'; 
src: url('i.ttf') format('truetype');
} 
@font-face { 
font-family: 'jmirage'; 
src: url('j.ttf') format('truetype');
} 
@font-face { 
font-family: 'kmirage'; 
src: url('k.ttf') format('truetype');
} 
@font-face { 
font-family: 'lmirage'; 
src: url('l.ttf') format('truetype');
} 
@font-face { 
font-family: 'mmirage'; 
src: url('m.ttf') format('truetype');
} 
@font-face { 
font-family: 'nmirage'; 
src: url('n.ttf') format('truetype');
} 
@font-face { 
font-family: 'omirage'; 
src: url('o.ttf') format('truetype');
} 
@font-face { 
font-family: 'pmirage'; 
src: url('p.ttf') format('truetype');
} 
@font-face { 
font-family: 'qmirage'; 
src: url('q.ttf') format('truetype');
} 
@font-face { 
font-family: 'rmirage'; 
src: url('r.ttf') format('truetype');
} 
@font-face { 
font-family: 'smirage'; 
src: url('s.ttf') format('truetype');
} 
@font-face { 
font-family: 'tmirage'; 
src: url('t.ttf') format('truetype');
} 
@font-face { 
font-family: 'umirage'; 
src: url('u.ttf') format('truetype');
} 
@font-face { 
font-family: 'vmirage'; 
src: url('v.ttf') format('truetype');
} 
@font-face { 
font-family: 'wmirage'; 
src: url('w.ttf') format('truetype');
} 
@font-face { 
font-family: 'xmirage'; 
src: url('x.ttf') format('truetype');
} 
@font-face { 
font-family: 'ymirage'; 
src: url('y.ttf') format('truetype');
} 
@font-face { 
font-family: 'zmirage'; 
src: url('z.ttf') format('truetype');
} 

@font-face { 
font-family: 'emptymirage'; 
src: url('empty.ttf') format('truetype');
} 

@font-face { font-family: 'mirage0'; src: url('0.ttf') format('truetype');}
@font-face { font-family: 'mirage1'; src: url('1.ttf') format('truetype');}
@font-face { font-family: 'mirage2'; src: url('2.ttf') format('truetype');}
@font-face { font-family: 'mirage3'; src: url('3.ttf') format('truetype');}
@font-face { font-family: 'mirage4'; src: url('4.ttf') format('truetype');}
@font-face { font-family: 'mirage5'; src: url('5.ttf') format('truetype');}
@font-face { font-family: 'mirage6'; src: url('6.ttf') format('truetype');}
@font-face { font-family: 'mirage7'; src: url('7.ttf') format('truetype');}
@font-face { font-family: 'mirage8'; src: url('8.ttf') format('truetype');}
@font-face { font-family: 'mirage9'; src: url('9.ttf') format('truetype');}
@font-face { font-family: 'Ampersandmirage'; src: url('Ampersand.ttf') format('truetype');}
@font-face { font-family: 'Asciicircummirage'; src: url('Asciicircum.ttf') format('truetype');}
@font-face { font-family: 'Asteriskmirage'; src: url('Asterisk.ttf') format('truetype');}
@font-face { font-family: 'Atmirage'; src: url('At.ttf') format('truetype');}
@font-face { font-family: 'Backslashmirage'; src: url('Backslash.ttf') format('truetype');}
@font-face { font-family: 'Bracketleftmirage'; src: url('Bracketleft.ttf') format('truetype');}
@font-face { font-family: 'Bracketrightmirage'; src: url('Bracketright.ttf') format('truetype');}
@font-face { font-family: 'Colonmirage'; src: url('Colon.ttf') format('truetype');} 
@font-face { font-family: 'commamirage'; src: url('comma.ttf') format('truetype');} 
@font-face { font-family: 'Dollarmirage'; src: url('Dollar.ttf') format('truetype');} 
@font-face { font-family: 'Equalmirage'; src: url('Equal.ttf') format('truetype');} 
@font-face { font-family: 'Exclammirage'; src: url('Exclam.ttf') format('truetype');} 
@font-face { font-family: 'Greatermirage'; src: url('Greater.ttf') format('truetype');} 
@font-face { font-family: 'Lessmirage'; src: url('Less.ttf') format('truetype');} 
@font-face { font-family: 'Minusmirage'; src: url('Minus.ttf') format('truetype');} 
@font-face { font-family: 'Numbersignmirage'; src: url('Numbersign.ttf') format('truetype');} 
@font-face { font-family: 'Parennleftmirage'; src: url('Parennleft.ttf') format('truetype');} 
@font-face { font-family: 'Parenrightmirage'; src: url('Parenright.ttf') format('truetype');} 
@font-face { font-family: 'Percentmirage'; src: url('Percent.ttf') format('truetype');} 
@font-face { font-family: 'Periodmirage'; src: url('Period.ttf') format('truetype');} 
@font-face { font-family: 'Plusmirage'; src: url('Plus.ttf') format('truetype');} 
@font-face { font-family: 'Questionmirage'; src: url('Question.ttf') format('truetype');} 
@font-face { font-family: 'Quotedblmirage'; src: url('Quotedbl.ttf') format('truetype');} 
@font-face { font-family: 'Quotesinglemirage'; src: url('Quotesingle.ttf') format('truetype');} 
@font-face { font-family: 'Semicolonmirage'; src: url('Semicolon.ttf') format('truetype');} 
@font-face { font-family: 'Slashmirage'; src: url('Slash.ttf') format('truetype');} 
@font-face { font-family: 'Underscoremirage'; src: url('Underscore.ttf') format('truetype');} 


#mirage0{font-family:'mirage0';}
#mirage1{font-family:'mirage1';}
#mirage2{font-family:'mirage2';}
#mirage3{font-family:'mirage3';}
#mirage4{font-family:'mirage4';}
#mirage5{font-family:'mirage5';}
#mirage6{font-family:'mirage6';}
#mirage7{font-family:'mirage7';}
#mirage8{font-family:'mirage8';}
#mirage9{font-family:'mirage9';}
#Ampersandmirage{font-family:'Ampersandmirage';}
#Asciicircummirage{font-family:'Asciicircummirage';}
#Asteriskmirage{font-family:'Asteriskmirage';}
#Atmirage{font-family:'Atmirage';}
#Backslashmirage{font-family:'Backslashmirage';}
#Bracketleftmirage{font-family:'Bracketleftmirage';}
#Bracketrightmirage{font-family:'Bracketrightmirage';}
#Colonmirage{font-family:'Colonmirage';}
#commamirage{font-family:'commamirage';}
#Dollarmirage{font-family:'Dollarmirage';}
#Equalmirage{font-family:'Equalmirage';}
#Exclammirage{font-family:'Exclammirage';}
#Greatermirage{font-family:'Greatermirage';}
#Lessmirage{font-family:'Lessmirage';}
#Minusmirage{font-family:'Minusmirage';}
#Numbersignmirage{font-family:'Numbersignmirage';}
#Parennleftmirage{font-family:'Parennleftmirage';}
#Parenrightmirage{font-family:'Parenrightmirage';}
#Percentmirage{font-family:'Percentmirage';}
#Periodmirage{font-family:'Periodmirage';}
#Plusmirage{font-family:'Plusmirage';}
#Questionmirage{font-family:'Questionmirage';}
#Quotedblmirage{font-family:'Quotedblmirage';}
#Quotesinglemirage{font-family:'Quotesinglemirage';}
#Semicolonmirage{font-family:'Semicolonmirage';}
#Slashmirage{font-family:'Slashmirage';}
#Underscoremirage{font-family:'Underscoremirage';}



#emptymirage{font-family:'emptymirage';font-size: 8px;font-weight:bold;}

#AAmirage{font-family:'AAmirage';}
#BBmirage{font-family:'BBmirage';}
#CCmirage{font-family:'CCmirage';}
#DDmirage{font-family:'DDmirage';}
#EEmirage{font-family:'EEmirage';}
#FFmirage{font-family:'FFmirage';}
#GGmirage{font-family:'GGmirage';}
#HHmirage{font-family:'HHmirage';}
#IImirage{font-family:'IImirage';}
#JJmirage{font-family:'JJmirage';}
#KKmirage{font-family:'KKmirage';}
#LLmirage{font-family:'LLmirage';}
#MMmirage{font-family:'MMmirage';}
#NNmirage{font-family:'NNmirage';}
#OOmirage{font-family:'OOmirage';}
#PPmirage{font-family:'PPmirage';}
#QQmirage{font-family:'QQmirage';}
#RRmirage{font-family:'RRmirage';}
#SSmirage{font-family:'SSmirage';}
#TTmirage{font-family:'TTmirage';}
#UUmirage{font-family:'UUmirage';}
#VVmirage{font-family:'VVmirage';}
#WWmirage{font-family:'WWmirage';}
#XXmirage{font-family:'XXmirage';}
#YYmirage{font-family:'YYmirage';}
#ZZmirage{font-family:'ZZmirage';}
#amirage{font-family:'amirage';}
#bmirage{font-family:'bmirage';}
#cmirage{font-family:'cmirage';}
#dmirage{font-family:'dmirage';}
#emirage{font-family:'emirage';}
#fmirage{font-family:'fmirage';}
#gmirage{font-family:'gmirage';}
#hmirage{font-family:'hmirage';}
#imirage{font-family:'imirage';}
#jmirage{font-family:'jmirage';}
#kmirage{font-family:'kmirage';}
#lmirage{font-family:'lmirage';}
#mmirage{font-family:'mmirage';}
#nmirage{font-family:'nmirage';}
#omirage{font-family:'omirage';}
#pmirage{font-family:'pmirage';}
#qmirage{font-family:'qmirage';}
#rmirage{font-family:'rmirage';}
#smirage{font-family:'smirage';}
#tmirage{font-family:'tmirage';}
#umirage{font-family:'umirage';}
#vmirage{font-family:'vmirage';}
#wmirage{font-family:'wmirage';}
#xmirage{font-family:'xmirage';}
#ymirage{font-family:'ymirage';}
#zmirage{font-family:'zmirage';}
