---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
  <link rel="stylesheet" href="/css/i.css" type="text/css" />
<!--   <link rel="stylesheet" href="/css/style_font.css" type="text/css" /> -->
<style type="text/css">
  html {
    background: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media screen and (max-width: 750px){
    body { background: rgba(255, 255, 255, 0.9); }
  }
  body{
 font-family:Helvetica, sans-serif;
  font-size:50px;
  text-align:center;
}

p, h1{
  padding:0;
  margin:20px;
}
h1{
  font-size:120px;
}
#letters:nth-letter(1){
  font-family:omirage;
}
#letters:nth-letter(2){
  font-family:pmirage;
}
#letters:nth-letter(3){
  font-family:emirage;
}
#letters:nth-letter(4){
  font-family:dmirage;
}
#letters:nth-letter(5){
  font-family:emptymirage;
}
#letters:nth-letter(6){
  font-family:dmirage;
}
#letters:nth-letter(7){
  font-family:emirage;
}
#letters:nth-letter(8){
  font-family:amirage;
}
#letters:nth-letter(9){
  font-family:lmirage;
}
#letters:nth-letter(10){
  font-family:imirage;
}
#letters:nth-letter(11){
  font-family:nmirage;
}
#letters:nth-letter(12){
  font-family:gmirage;
}
#letters:nth-letter(13){
  font-family:emptymirage;
}
#letters:nth-letter(14){
  font-family:wmirage;
}
#letters:nth-letter(15){
  font-family:imirage;
}
#letters:nth-letter(16){
  font-family:tmirage;
}
#letters:nth-letter(17){
  font-family:hmirage;
}
#letters:nth-letter(18){
  font-family:emptymirage;
}
#letters:nth-letter(19){
  font-family:amirage;
}
#letters:nth-letter(20){
  font-family:rmirage;
}
#letters:nth-letter(21){
  font-family:bmirage;
}
#letters:nth-letter(22){
  font-family:imirage;
}
#letters:nth-letter(23){
  font-family:tmirage;
}
#letters:nth-letter(24){
  font-family:rmirage;
}
#letters:nth-letter(25){
  font-family:amirage;
}
#letters:nth-letter(26){
  font-family:rmirage;
}
#letters:nth-letter(27){
  font-family:ymirage;
}
#letters:nth-letter(28){
  font-family:emptymirage;
}
#letters:nth-letter(29){
  font-family:cmirage;
}
#letters:nth-letter(30){
  font-family:omirage;
}
#letters:nth-letter(31){
  font-family:dmirage;
}
#letters:nth-letter(32){
  font-family:emirage;
}
#letters:nth-letter(33){
  font-family:emptymirage;
}
#letters:nth-letter(34){
  font-family:emirage;
}
#letters:nth-letter(35){
  font-family:xmirage;
}
#letters:nth-letter(36){
  font-family:emirage;
}
#letters:nth-letter(37){
  font-family:cmirage;
}
#letters:nth-letter(38){
  font-family:umirage;
}
#letters:nth-letter(39){
  font-family:tmirage;
}
#letters:nth-letter(40){
  font-family:imirage;
}
#letters:nth-letter(41){
  font-family:omirage;
}
#letters:nth-letter(42){
  font-family:nmirage;
}
#letters:nth-letter(43){
  font-family:emptymirage;
}
#letters:nth-letter(44){
  font-family:tmirage;
}
#letters:nth-letter(45){
  font-family:hmirage;
}
#letters:nth-letter(46){
  font-family:rmirage;
}
#letters:nth-letter(47){
  font-family:omirage;
}
#letters:nth-letter(48){
  font-family:umirage;
}
#letters:nth-letter(49){
  font-family:gmirage;
}
#letters:nth-letter(50){
  font-family:hmirage;
}
#letters:nth-letter(51){
  font-family:emptymirage;
}
#letters:nth-letter(52){
  font-family:smirage;
}
#letters:nth-letter(53){
  font-family:omirage;
}
#letters:nth-letter(54){
  font-family:mmirage;
}
#letters:nth-letter(55){
  font-family:emirage;
}
#letters:nth-letter(56){
  font-family:emptymirage;
}
#letters:nth-letter(57){
  font-family:amirage;
}
#letters:nth-letter(58){
  font-family:lmirage;
}
#letters:nth-letter(59){
  font-family:lmirage;
}
#letters:nth-letter(60){
  font-family:omirage;
}
#letters:nth-letter(61){
  font-family:wmirage;
}
#letters:nth-letter(62){
  font-family:amirage;
}
#letters:nth-letter(63){
  font-family:nmirage;
}
#letters:nth-letter(64){
  font-family:cmirage;
}
#letters:nth-letter(65){
  font-family:emirage;
}
#letters:nth-letter(66){
  font-family:smirage;
}
#letters:nth-letter(67){
  font-family:emptymirage;
}
#letters:nth-letter(68){
  font-family:mmirage;
}
#letters:nth-letter(69){
  font-family:amirage;
}
#letters:nth-letter(70){
  font-family:dmirage;
}
#letters:nth-letter(71){
  font-family:emirage;
}
#letters:nth-letter(72){
  font-family:emptymirage;
}
#letters:nth-letter(73){
  font-family:bmirage;
}
#letters:nth-letter(74){
  font-family:ymirage;
}
#letters:nth-letter(75){
  font-family:emptymirage;
}
#letters:nth-letter(76){
  font-family:AAmirage;
}
#letters:nth-letter(77){
  font-family:dmirage;
}
#letters:nth-letter(78){
  font-family:omirage;
}
#letters:nth-letter(79){
  font-family:bmirage;
}
#letters:nth-letter(80){
  font-family:emirage;
}
#letters:nth-letter(81){
  font-family:emptymirage;
}
#letters:nth-letter(82){
  font-family:tmirage;
}
#letters:nth-letter(83){
  font-family:omirage;
}
#letters:nth-letter(84){
  font-family:emptymirage;
}
#letters:nth-letter(85){
  font-family:emirage;
}
#letters:nth-letter(86){
  font-family:xmirage;
}
#letters:nth-letter(87){
  font-family:emirage;
}
#letters:nth-letter(88){
  font-family:cmirage;
}
#letters:nth-letter(89){
  font-family:umirage;
}
#letters:nth-letter(90){
  font-family:tmirage;
}
#letters:nth-letter(91){
  font-family:emirage;
}
#letters:nth-letter(92){
  font-family:emptymirage;
}
#letters:nth-letter(93){
  font-family:JJmirage;
}
#letters:nth-letter(94){
  font-family:amirage;
}
#letters:nth-letter(95){
  font-family:vmirage;
}
#letters:nth-letter(96){
  font-family:amirage;
}
#letters:nth-letter(97){
  font-family:SSmirage;
}
#letters:nth-letter(98){
  font-family:cmirage;
}
#letters:nth-letter(99){
  font-family:rmirage;
}
#letters:nth-letter(100){
  font-family:imirage;
}
#letters:nth-letter(101){
  font-family:pmirage;
}
#letters:nth-letter(102){
  font-family:tmirage;
}
#letters:nth-letter(103){
  font-family:emptymirage;
}
#letters:nth-letter(104){
  font-family:wmirage;
}
#letters:nth-letter(105){
  font-family:imirage;
}
#letters:nth-letter(106){
  font-family:tmirage;
}
#letters:nth-letter(107){
  font-family:hmirage;
}
#letters:nth-letter(108){
  font-family:imirage;
}
#letters:nth-letter(109){
  font-family:nmirage;
}
#letters:nth-letter(110){
  font-family:emptymirage;
}
#letters:nth-letter(111){
  font-family:tmirage;
}
#letters:nth-letter(112){
  font-family:hmirage;
}
#letters:nth-letter(113){
  font-family:emirage;
}
#letters:nth-letter(114){
  font-family:emptymirage;
}
#letters:nth-letter(115){
  font-family:rmirage;
}
#letters:nth-letter(116){
  font-family:emirage;
}
#letters:nth-letter(117){
  font-family:nmirage;
}
#letters:nth-letter(118){
  font-family:dmirage;
}
#letters:nth-letter(119){
  font-family:emirage;
}
#letters:nth-letter(120){
  font-family:rmirage;
}
#letters:nth-letter(121){
  font-family:imirage;
}
#letters:nth-letter(122){
  font-family:nmirage;
}
#letters:nth-letter(123){
  font-family:gmirage;
}
#letters:nth-letter(124){
  font-family:emptymirage;
}
#letters:nth-letter(125){
  font-family:pmirage;
}
#letters:nth-letter(126){
  font-family:rmirage;
}
#letters:nth-letter(127){
  font-family:omirage;
}
#letters:nth-letter(128){
  font-family:cmirage;
}
#letters:nth-letter(129){
  font-family:emirage;
}
#letters:nth-letter(130){
  font-family:smirage;
}
#letters:nth-letter(131){
  font-family:smirage;
}
#letters:nth-letter(132){
  font-family:emptymirage;
}
#letters:nth-letter(133){
  font-family:omirage;
}
#letters:nth-letter(134){
  font-family:fmirage;
}
#letters:nth-letter(135){
  font-family:emptymirage;
}
#letters:nth-letter(136){
  font-family:amirage;
}
#letters:nth-letter(137){
  font-family:emptymirage;
}
#letters:nth-letter(138){
  font-family:PPmirage;
}
#letters:nth-letter(139){
  font-family:DDmirage;
}
#letters:nth-letter(140){
  font-family:FFmirage;
}
#letters:nth-letter(141){
  font-family:emptymirage;
}
#letters:nth-letter(142){
  font-family:fmirage;
}
#letters:nth-letter(143){
  font-family:imirage;
}
#letters:nth-letter(144){
  font-family:lmirage;
}
#letters:nth-letter(145){
  font-family:emirage;
}
#letters:nth-letter(146){
  font-family:emptymirage;
}
#letters:nth-letter(147){
  font-family:Bracketleftmirage;
}
#letters:nth-letter(148){
  font-family:mirage1;
}
#letters:nth-letter(149){
  font-family:Bracketrightmirage;
}
#letters:nth-letter(150){
  font-family:emptymirage;
}
#letters:nth-letter(151){
  font-family:Bracketleftmirage;
}
#letters:nth-letter(152){
  font-family:mirage2;
}
#letters:nth-letter(153){
  font-family:Bracketrightmirage;
}
#letters:nth-letter(154){
  font-family:emptymirage;
}
#letters:nth-letter(155){
  font-family:omirage;
}
#letters:nth-letter(156){
  font-family:rmirage;
}
#letters:nth-letter(157){
  font-family:emptymirage;
}
#letters:nth-letter(158){
  font-family:fmirage;
}
#letters:nth-letter(159){
  font-family:rmirage;
}
#letters:nth-letter(160){
  font-family:omirage;
}
#letters:nth-letter(161){
  font-family:mmirage;
}
#letters:nth-letter(162){
  font-family:emptymirage;
}
#letters:nth-letter(163){
  font-family:omirage;
}
#letters:nth-letter(164){
  font-family:tmirage;
}
#letters:nth-letter(165){
  font-family:hmirage;
}
#letters:nth-letter(166){
  font-family:emirage;
}
#letters:nth-letter(167){
  font-family:rmirage;
}
#letters:nth-letter(168){
  font-family:emptymirage;
}
#letters:nth-letter(169){
  font-family:rmirage;
}
#letters:nth-letter(170){
  font-family:emirage;
}
#letters:nth-letter(171){
  font-family:nmirage;
}
#letters:nth-letter(172){
  font-family:dmirage;
}
#letters:nth-letter(173){
  font-family:emirage;
}
#letters:nth-letter(174){
  font-family:rmirage;
}
#letters:nth-letter(175){
  font-family:imirage;
}
#letters:nth-letter(176){
  font-family:nmirage;
}
#letters:nth-letter(177){
  font-family:gmirage;
}
#letters:nth-letter(178){
  font-family:emptymirage;
}
#letters:nth-letter(179){
  font-family:vmirage;
}
#letters:nth-letter(180){
  font-family:umirage;
}
#letters:nth-letter(181){
  font-family:lmirage;
}
#letters:nth-letter(182){
  font-family:nmirage;
}
#letters:nth-letter(183){
  font-family:emirage;
}
#letters:nth-letter(184){
  font-family:rmirage;
}
#letters:nth-letter(185){
  font-family:amirage;
}
#letters:nth-letter(186){
  font-family:bmirage;
}
#letters:nth-letter(187){
  font-family:imirage;
}
#letters:nth-letter(188){
  font-family:lmirage;
}
#letters:nth-letter(189){
  font-family:imirage;
}
#letters:nth-letter(190){
  font-family:tmirage;
}
#letters:nth-letter(191){
  font-family:imirage;
}
#letters:nth-letter(192){
  font-family:emirage;
}
#letters:nth-letter(193){
  font-family:smirage;
}
#letters:nth-letter(194){
  font-family:emptymirage;
}
#letters:nth-letter(195){
  font-family:Bracketleftmirage;
}
#letters:nth-letter(196){
  font-family:mirage3;
}
#letters:nth-letter(197){
  font-family:Bracketrightmirage;
}
#letters:nth-letter(198){
  font-family:emptymirage;
}
#letters:nth-letter(199){
  font-family:Bracketleftmirage;
}
#letters:nth-letter(200){
  font-family:mirage4;
}
#letters:nth-letter(201){
  font-family:Bracketrightmirage;
}
#letters:nth-letter(202){
  font-family:Periodmirage;
}
#letters:nth-letter(203){
  font-family:emptymirage;
}
#letters:nth-letter(204){
  font-family:TTmirage;
}
#letters:nth-letter(205){
  font-family:hmirage;
}
#letters:nth-letter(206){
  font-family:emirage;
}

</style>

<div id="content" class="post" style="margin-top: 20px;">
  <div id="avatar" class="avatar circle" data-in-right="false" style="width: 150px; height: 150px; position: fixed; top: 40px; z-index: 99; opacity: 0;">
    <div class="center" style="margin-top: 4px; height: 142px; width: 142px; border-radius: 71px; background-image: url('../images/08.png');"></div>
  </div>

  <div class="entry" style="position: relative;">
    <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>

    <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }} 
        <span class="lastModified" style="display: none;" data-source="{{ page.path }}">最后更新时间: 
        </span>
    </p>


    {{ content }}


  </div>


  <div id="menuIndex" class="sidenav">
    <div class="myinfo"><center>
      <div id="avatarHolder" class="avatar circle" style="width: 0px; height: 0px; box-shadow: none; margin-bottom: 20px;"></div>
      <a href="/index.html" title="Homepage"><i class="icon-home icon-large"></i> Home</a>
      <a href="{{ site.myblog.linkedin }}"><i class="icon-linkedin-sign icon-large"></i> Profile</a>
      <a href="{{ site.myblog.github }}"><i class="icon-github icon-large"></i> Code</a>
      <a href="{{ site.myblog.email }}"><i class="icon-envelope icon-large"></i> Mail</a>
    </center></div>
    <div id="menu"></div>
    <div>
    <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=GB_G1Ozuf6tiE3XtxZ_P41msWXutHSl-YhZhzuZle1Y"></script>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/script_font.js"></script>
<!-- <script src="/js/post.js" type="text/javascript"></script> -->
