---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
  <link rel="stylesheet" href="/css/i.css" type="text/css" />
<!--   <link rel="stylesheet" href="/css/style_font.css" type="text/css" /> -->
<style type="text/css">
  html {
    background: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media screen and (max-width: 750px){
    body { background: rgba(255, 255, 255, 0.9); }
  }
  body{
 font-family:Helvetica, sans-serif;
  font-size:20px;
  text-align:left;
}

p, h1{
  padding:0;
  margin:20px;
}
h1{
  font-size:120px;
}
#helloworld:nth-letter(1){font-family:cipherfontmirage;}
#helloworld:nth-letter(2){font-family:cipherfontmirage;}
#helloworld:nth-letter(3){font-family:cipherfontmirage;}
#helloworld:nth-letter(4){font-family:BBmirage;}
  
#letters:nth-letter(1){font-family:BBmirage;}
#letters:nth-letter(2){font-family:emirage;}
#letters:nth-letter(3){font-family:tmirage;}
#letters:nth-letter(4){font-family:emptymirage;}
#letters:nth-letter(5){font-family:omirage;}
#letters:nth-letter(6){font-family:nmirage;}
#letters:nth-letter(7){font-family:emptymirage;}
#letters:nth-letter(8){font-family:ymirage;}
#letters:nth-letter(9){font-family:omirage;}
#letters:nth-letter(10){font-family:umirage;}
#letters:nth-letter(11){font-family:rmirage;}
#letters:nth-letter(12){font-family:emptymirage;}
#letters:nth-letter(13){font-family:fmirage;}
#letters:nth-letter(14){font-family:amirage;}
#letters:nth-letter(15){font-family:vmirage;}
#letters:nth-letter(16){font-family:omirage;}
#letters:nth-letter(17){font-family:rmirage;}
#letters:nth-letter(18){font-family:imirage;}
#letters:nth-letter(19){font-family:tmirage;}
#letters:nth-letter(20){font-family:emirage;}
#letters:nth-letter(21){font-family:emptymirage;}
#letters:nth-letter(22){font-family:smirage;}
#letters:nth-letter(23){font-family:pmirage;}
#letters:nth-letter(24){font-family:omirage;}
#letters:nth-letter(25){font-family:rmirage;}
#letters:nth-letter(26){font-family:tmirage;}
#letters:nth-letter(27){font-family:smirage;}
#letters:nth-letter(28){font-family:emptymirage;}
#letters:nth-letter(29){font-family:wmirage;}
#letters:nth-letter(30){font-family:imirage;}
#letters:nth-letter(31){font-family:tmirage;}
#letters:nth-letter(32){font-family:hmirage;}
#letters:nth-letter(33){font-family:emptymirage;}
#letters:nth-letter(34){font-family:umirage;}
#letters:nth-letter(35){font-family:smirage;}
#letters:nth-letter(36){font-family:Exclammirage;}
#letters:nth-letter(37){font-family:emptymirage;}
#letters:nth-letter(38){font-family:UUmirage;}
#letters:nth-letter(39){font-family:smirage;}
#letters:nth-letter(40){font-family:emirage;}
#letters:nth-letter(41){font-family:emptymirage;}
#letters:nth-letter(42){font-family:tmirage;}
#letters:nth-letter(43){font-family:hmirage;}
#letters:nth-letter(44){font-family:emirage;}
#letters:nth-letter(45){font-family:emptymirage;}
#letters:nth-letter(46){font-family:nmirage;}
#letters:nth-letter(47){font-family:umirage;}
#letters:nth-letter(48){font-family:mmirage;}
#letters:nth-letter(49){font-family:bmirage;}
#letters:nth-letter(50){font-family:emirage;}
#letters:nth-letter(51){font-family:rmirage;}
#letters:nth-letter(52){font-family:emptymirage;}
#letters:nth-letter(53){font-family:omirage;}
#letters:nth-letter(54){font-family:nmirage;}
#letters:nth-letter(55){font-family:emirage;}
#letters:nth-letter(56){font-family:emptymirage;}
#letters:nth-letter(57){font-family:omirage;}
#letters:nth-letter(58){font-family:nmirage;}
#letters:nth-letter(59){font-family:lmirage;}
#letters:nth-letter(60){font-family:imirage;}
#letters:nth-letter(61){font-family:nmirage;}
#letters:nth-letter(62){font-family:emirage;}
#letters:nth-letter(63){font-family:emptymirage;}
#letters:nth-letter(64){font-family:smirage;}
#letters:nth-letter(65){font-family:pmirage;}
#letters:nth-letter(66){font-family:omirage;}
#letters:nth-letter(67){font-family:rmirage;}
#letters:nth-letter(68){font-family:tmirage;}
#letters:nth-letter(69){font-family:smirage;}
#letters:nth-letter(70){font-family:emptymirage;}
#letters:nth-letter(71){font-family:bmirage;}
#letters:nth-letter(72){font-family:emirage;}
#letters:nth-letter(73){font-family:tmirage;}
#letters:nth-letter(74){font-family:tmirage;}
#letters:nth-letter(75){font-family:imirage;}
#letters:nth-letter(76){font-family:nmirage;}
#letters:nth-letter(77){font-family:gmirage;}
#letters:nth-letter(78){font-family:emptymirage;}
#letters:nth-letter(79){font-family:smirage;}
#letters:nth-letter(80){font-family:imirage;}
#letters:nth-letter(81){font-family:tmirage;}
#letters:nth-letter(82){font-family:emirage;}
#letters:nth-letter(83){font-family:emptymirage;}
#letters:nth-letter(84){font-family:tmirage;}
#letters:nth-letter(85){font-family:omirage;}
#letters:nth-letter(86){font-family:emptymirage;}
#letters:nth-letter(87){font-family:bmirage;}
#letters:nth-letter(88){font-family:emirage;}
#letters:nth-letter(89){font-family:tmirage;}
#letters:nth-letter(90){font-family:emptymirage;}
#letters:nth-letter(91){font-family:omirage;}
#letters:nth-letter(92){font-family:nmirage;}
#letters:nth-letter(93){font-family:emptymirage;}
#letters:nth-letter(94){font-family:amirage;}
#letters:nth-letter(95){font-family:lmirage;}
#letters:nth-letter(96){font-family:lmirage;}
#letters:nth-letter(97){font-family:emptymirage;}
#letters:nth-letter(98){font-family:mmirage;}
#letters:nth-letter(99){font-family:amirage;}
#letters:nth-letter(100){font-family:jmirage;}
#letters:nth-letter(101){font-family:omirage;}
#letters:nth-letter(102){font-family:rmirage;}
#letters:nth-letter(103){font-family:emptymirage;}
#letters:nth-letter(104){font-family:smirage;}
#letters:nth-letter(105){font-family:pmirage;}
#letters:nth-letter(106){font-family:omirage;}
#letters:nth-letter(107){font-family:rmirage;}
#letters:nth-letter(108){font-family:tmirage;}
#letters:nth-letter(109){font-family:smirage;}
#letters:nth-letter(110){font-family:emptymirage;}
#letters:nth-letter(111){font-family:lmirage;}
#letters:nth-letter(112){font-family:emirage;}
#letters:nth-letter(113){font-family:amirage;}
#letters:nth-letter(114){font-family:gmirage;}
#letters:nth-letter(115){font-family:umirage;}
#letters:nth-letter(116){font-family:emirage;}
#letters:nth-letter(117){font-family:smirage;}
#letters:nth-letter(118){font-family:commamirage;}
#letters:nth-letter(119){font-family:emptymirage;}
#letters:nth-letter(120){font-family:imirage;}
#letters:nth-letter(121){font-family:nmirage;}
#letters:nth-letter(122){font-family:cmirage;}
#letters:nth-letter(123){font-family:lmirage;}
#letters:nth-letter(124){font-family:umirage;}
#letters:nth-letter(125){font-family:dmirage;}
#letters:nth-letter(126){font-family:imirage;}
#letters:nth-letter(127){font-family:nmirage;}
#letters:nth-letter(128){font-family:gmirage;}
#letters:nth-letter(129){font-family:emptymirage;}
#letters:nth-letter(130){font-family:bmirage;}
#letters:nth-letter(131){font-family:emirage;}
#letters:nth-letter(132){font-family:tmirage;}
#letters:nth-letter(133){font-family:tmirage;}
#letters:nth-letter(134){font-family:imirage;}
#letters:nth-letter(135){font-family:nmirage;}
#letters:nth-letter(136){font-family:gmirage;}
#letters:nth-letter(137){font-family:emptymirage;}
#letters:nth-letter(138){font-family:omirage;}
#letters:nth-letter(139){font-family:dmirage;}
#letters:nth-letter(140){font-family:dmirage;}
#letters:nth-letter(141){font-family:smirage;}
#letters:nth-letter(142){font-family:emptymirage;}
#letters:nth-letter(143){font-family:fmirage;}
#letters:nth-letter(144){font-family:omirage;}
#letters:nth-letter(145){font-family:rmirage;}
#letters:nth-letter(146){font-family:emptymirage;}
#letters:nth-letter(147){font-family:tmirage;}
#letters:nth-letter(148){font-family:hmirage;}
#letters:nth-letter(149){font-family:emirage;}
#letters:nth-letter(150){font-family:emptymirage;}
#letters:nth-letter(151){font-family:NNmirage;}
#letters:nth-letter(152){font-family:FFmirage;}
#letters:nth-letter(153){font-family:LLmirage;}
#letters:nth-letter(154){font-family:commamirage;}
#letters:nth-letter(155){font-family:emptymirage;}
#letters:nth-letter(156){font-family:NNmirage;}
#letters:nth-letter(157){font-family:BBmirage;}
#letters:nth-letter(158){font-family:AAmirage;}
#letters:nth-letter(159){font-family:commamirage;}
#letters:nth-letter(160){font-family:emptymirage;}
#letters:nth-letter(161){font-family:NNmirage;}
#letters:nth-letter(162){font-family:HHmirage;}
#letters:nth-letter(163){font-family:LLmirage;}
#letters:nth-letter(164){font-family:commamirage;}
#letters:nth-letter(165){font-family:emptymirage;}
#letters:nth-letter(166){font-family:MMmirage;}
#letters:nth-letter(167){font-family:LLmirage;}
#letters:nth-letter(168){font-family:BBmirage;}
#letters:nth-letter(169){font-family:commamirage;}
#letters:nth-letter(170){font-family:emptymirage;}
#letters:nth-letter(171){font-family:amirage;}
#letters:nth-letter(172){font-family:nmirage;}
#letters:nth-letter(173){font-family:dmirage;}
#letters:nth-letter(174){font-family:emptymirage;}
#letters:nth-letter(175){font-family:cmirage;}
#letters:nth-letter(176){font-family:omirage;}
#letters:nth-letter(177){font-family:lmirage;}
#letters:nth-letter(178){font-family:lmirage;}
#letters:nth-letter(179){font-family:emirage;}
#letters:nth-letter(180){font-family:gmirage;}
#letters:nth-letter(181){font-family:emirage;}
#letters:nth-letter(182){font-family:emptymirage;}
#letters:nth-letter(183){font-family:smirage;}
#letters:nth-letter(184){font-family:pmirage;}
#letters:nth-letter(185){font-family:omirage;}
#letters:nth-letter(186){font-family:rmirage;}
#letters:nth-letter(187){font-family:tmirage;}
#letters:nth-letter(188){font-family:smirage;}
#letters:nth-letter(189){font-family:Periodmirage;}
#letters:nth-letter(190){font-family:emptymirage;}
#letters:nth-letter(191){font-family:MMmirage;}
#letters:nth-letter(192){font-family:omirage;}
#letters:nth-letter(193){font-family:bmirage;}
#letters:nth-letter(194){font-family:imirage;}
#letters:nth-letter(195){font-family:lmirage;}
#letters:nth-letter(196){font-family:emirage;}
#letters:nth-letter(197){font-family:emptymirage;}
#letters:nth-letter(198){font-family:bmirage;}
#letters:nth-letter(199){font-family:emirage;}
#letters:nth-letter(200){font-family:tmirage;}
#letters:nth-letter(201){font-family:tmirage;}
#letters:nth-letter(202){font-family:imirage;}
#letters:nth-letter(203){font-family:nmirage;}
#letters:nth-letter(204){font-family:gmirage;}
#letters:nth-letter(205){font-family:emptymirage;}
#letters:nth-letter(206){font-family:imirage;}
#letters:nth-letter(207){font-family:smirage;}
#letters:nth-letter(208){font-family:emptymirage;}
#letters:nth-letter(209){font-family:amirage;}
#letters:nth-letter(210){font-family:vmirage;}
#letters:nth-letter(211){font-family:amirage;}
#letters:nth-letter(212){font-family:imirage;}
#letters:nth-letter(213){font-family:lmirage;}
#letters:nth-letter(214){font-family:amirage;}
#letters:nth-letter(215){font-family:bmirage;}
#letters:nth-letter(216){font-family:lmirage;}
#letters:nth-letter(217){font-family:emirage;}
#letters:nth-letter(218){font-family:emptymirage;}
#letters:nth-letter(219){font-family:fmirage;}
#letters:nth-letter(220){font-family:omirage;}
#letters:nth-letter(221){font-family:rmirage;}
#letters:nth-letter(222){font-family:emptymirage;}
#letters:nth-letter(223){font-family:lmirage;}
#letters:nth-letter(224){font-family:emirage;}
#letters:nth-letter(225){font-family:gmirage;}
#letters:nth-letter(226){font-family:amirage;}
#letters:nth-letter(227){font-family:lmirage;}
#letters:nth-letter(228){font-family:imirage;}
#letters:nth-letter(229){font-family:zmirage;}
#letters:nth-letter(230){font-family:emirage;}
#letters:nth-letter(231){font-family:dmirage;}
#letters:nth-letter(232){font-family:emptymirage;}
#letters:nth-letter(233){font-family:smirage;}
#letters:nth-letter(234){font-family:pmirage;}
#letters:nth-letter(235){font-family:omirage;}
#letters:nth-letter(236){font-family:rmirage;}
#letters:nth-letter(237){font-family:tmirage;}
#letters:nth-letter(238){font-family:smirage;}
#letters:nth-letter(239){font-family:emptymirage;}
#letters:nth-letter(240){font-family:bmirage;}
#letters:nth-letter(241){font-family:emirage;}
#letters:nth-letter(242){font-family:tmirage;}
#letters:nth-letter(243){font-family:tmirage;}
#letters:nth-letter(244){font-family:imirage;}
#letters:nth-letter(245){font-family:nmirage;}
#letters:nth-letter(246){font-family:gmirage;}
#letters:nth-letter(247){font-family:commamirage;}
#letters:nth-letter(248){font-family:emptymirage;}
#letters:nth-letter(249){font-family:amirage;}
#letters:nth-letter(250){font-family:vmirage;}
#letters:nth-letter(251){font-family:amirage;}
#letters:nth-letter(252){font-family:imirage;}
#letters:nth-letter(253){font-family:lmirage;}
#letters:nth-letter(254){font-family:amirage;}
#letters:nth-letter(255){font-family:bmirage;}
#letters:nth-letter(256){font-family:lmirage;}
#letters:nth-letter(257){font-family:emirage;}
#letters:nth-letter(258){font-family:emptymirage;}
#letters:nth-letter(259){font-family:omirage;}
#letters:nth-letter(260){font-family:nmirage;}
#letters:nth-letter(261){font-family:emptymirage;}
#letters:nth-letter(262){font-family:AAmirage;}
#letters:nth-letter(263){font-family:pmirage;}
#letters:nth-letter(264){font-family:pmirage;}
#letters:nth-letter(265){font-family:lmirage;}
#letters:nth-letter(266){font-family:emirage;}
#letters:nth-letter(267){font-family:emptymirage;}
#letters:nth-letter(268){font-family:amirage;}
#letters:nth-letter(269){font-family:nmirage;}
#letters:nth-letter(270){font-family:dmirage;}
#letters:nth-letter(271){font-family:emptymirage;}
#letters:nth-letter(272){font-family:AAmirage;}
#letters:nth-letter(273){font-family:nmirage;}
#letters:nth-letter(274){font-family:dmirage;}
#letters:nth-letter(275){font-family:rmirage;}
#letters:nth-letter(276){font-family:omirage;}
#letters:nth-letter(277){font-family:imirage;}
#letters:nth-letter(278){font-family:dmirage;}
#letters:nth-letter(279){font-family:Periodmirage;}
#letters:nth-letter(280){font-family:emptymirage;}
#letters:nth-letter(281){font-family:PPmirage;}
#letters:nth-letter(282){font-family:lmirage;}
#letters:nth-letter(283){font-family:amirage;}
#letters:nth-letter(284){font-family:cmirage;}
#letters:nth-letter(285){font-family:emirage;}
#letters:nth-letter(286){font-family:emptymirage;}
#letters:nth-letter(287){font-family:ymirage;}
#letters:nth-letter(288){font-family:omirage;}
#letters:nth-letter(289){font-family:umirage;}
#letters:nth-letter(290){font-family:rmirage;}
#letters:nth-letter(291){font-family:emptymirage;}
#letters:nth-letter(292){font-family:fmirage;}
#letters:nth-letter(293){font-family:imirage;}
#letters:nth-letter(294){font-family:rmirage;}
#letters:nth-letter(295){font-family:smirage;}
#letters:nth-letter(296){font-family:tmirage;}
#letters:nth-letter(297){font-family:emptymirage;}
#letters:nth-letter(298){font-family:bmirage;}
#letters:nth-letter(299){font-family:emirage;}
#letters:nth-letter(300){font-family:tmirage;}
#letters:nth-letter(301){font-family:emptymirage;}
#letters:nth-letter(302){font-family:rmirage;}
#letters:nth-letter(303){font-family:imirage;}
#letters:nth-letter(304){font-family:smirage;}
#letters:nth-letter(305){font-family:kmirage;}
#letters:nth-letter(306){font-family:kmirage;}
#letters:nth-letter(307){font-family:fmirage;}
#letters:nth-letter(308){font-family:rmirage;}
#letters:nth-letter(309){font-family:emirage;}
#letters:nth-letter(310){font-family:emirage;}
#letters:nth-letter(311){font-family:emptymirage;}
#letters:nth-letter(312){font-family:umirage;}
#letters:nth-letter(313){font-family:pmirage;}
#letters:nth-letter(314){font-family:emptymirage;}
#letters:nth-letter(315){font-family:tmirage;}
#letters:nth-letter(316){font-family:omirage;}
#letters:nth-letter(317){font-family:emptymirage;}
#letters:nth-letter(318){font-family:Dollarmirage;}
#letters:nth-letter(319){font-family:mirage1;}
#letters:nth-letter(320){font-family:mirage0;}
#letters:nth-letter(321){font-family:mirage0;}
#letters:nth-letter(322){font-family:mirage0;}
#letters:nth-letter(323){font-family:emptymirage;}
#letters:nth-letter(324){font-family:bmirage;}
#letters:nth-letter(325){font-family:ymirage;}
#letters:nth-letter(326){font-family:emptymirage;}
#letters:nth-letter(327){font-family:smirage;}
#letters:nth-letter(328){font-family:imirage;}
#letters:nth-letter(329){font-family:gmirage;}
#letters:nth-letter(330){font-family:nmirage;}
#letters:nth-letter(331){font-family:imirage;}
#letters:nth-letter(332){font-family:nmirage;}
#letters:nth-letter(333){font-family:gmirage;}
#letters:nth-letter(334){font-family:emptymirage;}
#letters:nth-letter(335){font-family:umirage;}
#letters:nth-letter(336){font-family:pmirage;}
#letters:nth-letter(337){font-family:emptymirage;}
#letters:nth-letter(338){font-family:nmirage;}
#letters:nth-letter(339){font-family:omirage;}
#letters:nth-letter(340){font-family:wmirage;}
#letters:nth-letter(341){font-family:Periodmirage;}
#letters2:nth-letter(1){
  font-family:PPmirage;
}
#letters2:nth-letter(2){
  font-family:DDmirage;
}
#letters2:nth-letter(3){
  font-family:FFmirage;
}
#letters2:nth-letter(4){
  font-family:emptymirage;
}
#letters2:nth-letter(5){
  font-family:CCmirage;
}
#letters2:nth-letter(6){
  font-family:omirage;
}
#letters2:nth-letter(7){
  font-family:nmirage;
}
#letters2:nth-letter(8){
  font-family:tmirage;
}
#letters2:nth-letter(9){
  font-family:emirage;
}
#letters2:nth-letter(10){
  font-family:nmirage;
}
#letters2:nth-letter(11){
  font-family:tmirage;
}
#letters2:nth-letter(12){
  font-family:emptymirage;
}
#letters2:nth-letter(13){
  font-family:MMmirage;
}
#letters2:nth-letter(14){
  font-family:amirage;
}
#letters2:nth-letter(15){
  font-family:smirage;
}
#letters2:nth-letter(16){
  font-family:kmirage;
}
#letters2:nth-letter(17){
  font-family:imirage;
}
#letters2:nth-letter(18){
  font-family:nmirage;
}
#letters2:nth-letter(19){
  font-family:gmirage;
}
#letters2:nth-letter(20){
  font-family:emptymirage;
}
#letters3:nth-letter(1){font-family:GGmirage;}
#letters3:nth-letter(2){font-family:amirage;}
#letters3:nth-letter(3){font-family:mmirage;}
#letters3:nth-letter(4){font-family:bmirage;}
#letters3:nth-letter(5){font-family:lmirage;}
#letters3:nth-letter(6){font-family:imirage;}
#letters3:nth-letter(7){font-family:nmirage;}
#letters3:nth-letter(8){font-family:gmirage;}
#letters3:nth-letter(9){font-family:emptymirage;}
#letters3:nth-letter(10){font-family:emptymirage;}
</style>

<div id="content" class="post" style="margin-top: 20px;">
  <div id="avatar" class="avatar circle" data-in-right="false" style="width: 150px; height: 150px; position: fixed; top: 40px; z-index: 99; opacity: 0;">
    <div class="center" style="margin-top: 4px; height: 142px; width: 142px; border-radius: 71px; background-image: url('../images/08.png');"></div>
  </div>

  <div class="entry" style="position: relative;">
    <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>

    <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }} 
        <span class="lastModified" style="display: none;" data-source="{{ page.path }}">Last Modify: 
        </span>
    </p>


    {{ content }}


  </div>


  <div id="menuIndex" class="sidenav" style="display: none;">
    <div class="myinfo"><center>
      <div id="avatarHolder" class="avatar circle" style="width: 0px; height: 0px; box-shadow: none; margin-bottom: 20px;"></div>
      <a href="/index.html" title="Homepage"><i class="icon-home icon-large"></i> Home</a>
      <a href="{{ site.myblog.linkedin }}"><i class="icon-linkedin-sign icon-large"></i> Profile</a>
      <a href="{{ site.myblog.github }}"><i class="icon-github icon-large"></i> Code</a>
      <a href="{{ site.myblog.email }}"><i class="icon-envelope icon-large"></i> Mail</a>
    </center></div>
    <div id="menu"></div>
    <div style="display: none;">
    <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=GB_G1Ozuf6tiE3XtxZ_P41msWXutHSl-YhZhzuZle1Y"></script>
<!--     <a href="https://clustrmaps.com/site/1b4qf"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=GB_G1Ozuf6tiE3XtxZ_P41msWXutHSl-YhZhzuZle1Y&cl=ffffff" /></a> -->
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/script_font.js"></script>
<script src="/js/post.js" type="text/javascript"></script>
